main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p {
  display:flex;
  text-align: end;
  justify-content: space-evenly;
  flex-direction: row;
  flex-grow: inherit;

}

.instructionsWindow {
    padding: 10px;
    background-color: white;
    z-index: 100;
    visibility: hidden;
}

.background {

}

.greenCharacter {

}

.boulder {

}

.inventory {
  box-sizing: border-box;
  transition: all 3s ease;
}

.gem {
  opacity: 1;
  transition-timing-function: linear;
  transition-duration: 3s;
  transition-property: opacity;

}
.timerWindow {
  margin: auto;
  box-sizing: border-box;
  transition: all 3s ease;
  text-align: center;
  justify-content: space-evenly;
}


/* #showInstructions{
  background-color: white;
  border: 3px solid black;
  color: black;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
}

#playAgainButton{
  background-color: white;
  border: 3px solid black;
  color: black;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
} */
#resetButton {
  visibility: hidden;
}

button {
  background-color: white;
  border: 3px solid red;
  color: red;
  font-weight: bolder;
  margin: 10px 10px;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
}

button:hover {
  background-color: red;
  border: 3px solid white;
  color: white;
}

#timer {
  text-align: center;
  justify-content: center;
  width: 100%;
  color: red;
  font-weight: bolder;
  font-size: 6rem;
}

/*Setting CSS conditions for 3 supported screen sizes.
Mobile - Min width 350px
Tablet - Min width 700px
Desktops - Min width 900px
*/

@media(width>=350px){
  p#screenSize:after{
    content:"Viewport width atleast than 350px";
    
  }
/*   .instructions{
    display: none;
    border: none;
    z-index: 100;
  } */
}

@media(width>=700px){
  p#screenSize:after{
    content:"Viewport width atleast than 700px";
  }
}
  
@media(width>=900px){
  p#screenSize:after{
    content:"Viewport width greater than 900px";
  }
}

@media only screen and (max-width: 600px){
/*   .instructions{
    display: none;
    border: none;
    z-index: 100;
  } */
}



