main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.instructions {
    border: 5px solid black;
    text-align: center;
    padding: 5px;
    align-items: center;
    background-color: white;
    z-index: 50;
    position: absolute;
    justify-content: center;
    top: 0%;
    right: 0%;
}